* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --roxo: #2e0f43;
  --amarelo: #f58800;
  --branco: #fff;
}

.html {
  font-size: 62.5%;
}

body {
  color: var(--branco);
  background: var(--roxo);
  font-family: 'Poppins', sans-serif;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #ccc;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--roxo);
  transition: all 0.5s;
  position: fixed;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navigation ul li a {
  color: var(--amarelo);
  font-size: 17px;
  font-weight: 500;
  transition: 0.5s;
  text-transform: uppercase;
}

.navigation ul li a:hover {
  color: var(--branco);
}

.navigation ul li .botao {
  padding: 10px 30px;
  background: var(--amarelo);
  color: var(--branco);
  border-radius: 10px;
  font-weight: 500px;
  transition: all 0.3s;
}
.navigation ul li .botao:hover {
  background: #f5a441;
  color: var(--branco);
}

.navigation input[type='checkbox'],
.navigation .hamburger-lines {
  display: none;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--amarelo);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--amarelo);
}

.navigation img {
  width: 70px;
  order: -1;
  margin-right: 100px;
  margin-left: 70px;
}

main {
  margin-top: 60px;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  margin-bottom: 10px;
}

.home-text {
  max-width: 37rem;
  text-align: center;
}

.home-text h4 {
  font-size: 1.5rem;
  color: var(--amarelo);
  margin-bottom: 1rem;
  text-align: center;
}

.home-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  text-align: center;
}

.home-text p {
  margin-bottom: 4rem;
  text-align: center;
}

.home-text a {
  padding: 15px 45px;
  background: var(--amarelo);
  color: var(--branco);
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s;
  text-align: center;
}
.home-text a:hover {
  background: #f5a441;
}

.home-img {
  position: relative;
}

#sobre {
  padding: 50px 0;
}

.sobre-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#sobre h2 {
  font-size: 2.3rem;
  color: var(--amarelo);
}

#sobre p {
  font-size: 1.2rem;
  color: var(--branco);
}

#sobre .small {
  font-size: 1.2rem;
  color: #9e5903;
  font-weight: 600;
}

.sobre-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: sobre-img-animation 1s ease-in-out forwards;
}

@keyframes sobre-img-animation {
  100% {
    transform: translate(0);
  }
}

.sobre-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-100%);
  animation: sobre-text-animation 1.5s ease-in-out forwards;
}

@keyframes sobre-text-animation {
  100% {
    transform: translate(0);
  }
}

.sobre-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

#categoria {
  padding: 5rem 0 10rem 0;
}

#categoria h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: var(--amarelo);
}

.categoria-container {
  display: flex;
  justify-content: space-between;
}

.categoria-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-container {
  margin: 0 1rem;
  position: relative;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: var(--branco);
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.img-content a {
  font-size: 1.2rem;
  padding: 5px 5px;
  background: var(--amarelo);
  color: var(--branco);
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s;
  text-align: center;
}

.img-content a:hover {
  background: #f5a441;
}

.img-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

.cardapio-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: var(--amarelo);
}

.cardapio-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.cardapio-menu-container img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.cardapio-menu-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.cardapio-description {
  margin: auto 1.5rem;
}

.cardapio-description .cardapio-preco {
  color: var(--amarelo);
  font-weight: 700;
}

.cardapio-description p {
  margin-bottom: 10px; /* Espaçamento desejado */
}

.cardapio-description a {
  padding: 5px 5px;
  background: var(--amarelo);
  color: var(--branco);
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s;
  text-align: center;
}

.cardapio-description a:hover {
  background: #f5a441;
}

#clientes {
  padding: 5rem 0;
  background: var(--roxo);
}

.cliente-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--amarelo);
}

.cliente-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
}

.cliente-box .checked {
  color: #ff9529;
}

.cliente-box .cliente-text {
  margin: 1rem 0;
  color: #ff9529;
}

.cliente-box {
  text-align: center;
  padding: 1rem;
}

.customer-photo img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}

#footer {
  text-align: center;
  padding: 2.6rem;
  color: var(--branco);
  background: var(--roxo);
  box-shadow: 0px 0px 10px #ccc;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: var(--branco);
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navigation {
    right: 10px;
    padding: 30px;
    z-index: 5;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    animation: sobeSecao 0.8s ease-in-out forwards;
  }

  .menu {
    display: block;
  }

  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--branco);
    gap: -10px;
    transition: 0.3s;
  }

  .nav-menu.ativo {
    right: 0;
  }

  .nav-item {
    margin: 16px 0;
  }

  .home {
    background-image: url('acai.png');
    background-color: rgba(
      46,
      15,
      67,
      0.5
    ); /* Cor de fundo semitransparente para legibilidade */
    width: auto;
  }

  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }

  .home-text h4 {
    font-size: 15px;
  }
  .home-text h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .home-text p {
    font-size: 15px;
  }

  .home-img {
    width: 50%;
  }
}
